@{
    ViewData["Title"] = "Meus Livros";
}

<h2>Meus Livros</h2>
<p>Aqui você pode ver todos os livros que você possui.</p>
<ul>
    <li>Livro 1 <button class="btn btn-danger btn-sm">Excluir</button></li>
    <li>Livro 2 <button class="btn btn-danger btn-sm">Excluir</button></li>
    <li>Livro 3 <button class="btn btn-danger btn-sm">Excluir</button></li>
</ul>