@{
    ViewData["Title"] = "Notificações";
}

<h2>Notificações</h2>
<p>Aqui você pode ver todas as suas notificações.</p>
<ul>
    <li>Notificação 1 - Novo livro disponível na sua biblioteca</li>
    <li>Notificação 2 - Lembrete: devolução do livro</li>
    <li>Notificação 3 - Sua conta foi atualizada</li>
</ul>