@{
    ViewData["Title"] = "Meu Perfil";
}

<div class="perfil-container">
    <h2>Meu Perfil</h2>
    <div class="perfil-detalhes">
        <div class="perfil-item"><strong>ID:</strong> @Model.Id</div>
        <div class="perfil-item"><strong>Nome:</strong> @Model.Nome</div>
        <div class="perfil-item"><strong>Email:</strong> @Model.Email</div>
        <div class="perfil-item"><strong>Password:</strong> ******</div>
        <div class="perfil-item"><strong>Tipo:</strong> Leitor</div>
    </div>
</div>